<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="contentFragment">

    <div class="form-container">
        <div class="form-header">
            <h1>Crie sua Conta</h1>
            <p>Informe seus dados para criar sua conta</p>
        </div>

        <form id="registerForm" th:object="${UserRequestDTO}" method="POST" th:action="@{/registerUser}">

            <div>
                <input type="hidden" th:field="*{id}"/>
            </div>

            <div class="form-group">
                <label for="username">Nome Completo</label>
                <input type="text" th:field="*{username}" placeholder="Digite seu nome completo" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" th:field="*{email}" placeholder="Ex: seuemail@dominio.com" required>
            </div>

            <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" th:field="*{password}" placeholder="Crie uma senha forte" required>
            </div>

            <div class="form-group">
                <label for="phone">Telefone</label>
                <input type="text" th:field="*{phone}" placeholder="(32) 93123-4213" required>
            </div>

            <div class="form-group form-submit-group">
                <button type="submit" class="submit-btn">Cadastrar</button>
            </div>

        </form>
    </div>

</div>

</html>